/*
Colors used:
Primary Color (Orange): #F26724;
Secondary Color (Grey): #939598;
Secondary Color (Light Grey): #CCCCCC;
Text Color (Black): #2A2A2A;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Nunito+Sans", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #939598;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

li {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #f26724;
  text-decoration: none;
}

a:hover {
  color: #939598;
  text-decoration: none;
}
a:active {
  color: #2a2a2a;
}
a:focus {
  color: #939598;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #f26724;
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #f26724;
  border-top: 2px solid #f26724;
  border-right: 2px solid #f26724;
  border-left: 2px solid #f26724;
  text-transform: uppercase;
  transition: 0.2s color;
  transition: 0.2s background-color;
}

.button:hover {
  background-color: #f26724;
  color: #ffffff;
}

.button:active {
  background-color: #939598;
  color: #ffffff;
  border-bottom: 2px solid #939598;
  border-top: 2px solid #939598;
  border-right: 2px solid #939598;
  border-left: 2px solid #939598;
}

.button:focus {
  background-color: #939598;
  color: #ffffff;
  border-bottom: 2px solid #939598;
  border-top: 2px solid #939598;
  border-right: 2px solid #939598;
  border-left: 2px solid #939598;
}
.button.contact {
  display: inline-block;
  background-color: #f26724;
  color: #ffffff;
  font-weight: 600;
  padding: 6px;
  border-radius: 4px;
  border-bottom: 2px solid #f26724;
  border-top: 2px solid #f26724;
  border-right: 2px solid #f26724;
  border-left: 2px solid #f26724;
  text-transform: none;
  transition: 0.2s color;
  transition: 0.2s background-color;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #f26724;
}

.button.contact:active {
  background-color: #939598;
  color: #ffffff;
  border-bottom: 2px solid #939598;
  border-top: 2px solid #939598;
  border-right: 2px solid #939598;
  border-left: 2px solid #939598;
}

.button.contact:focus {
  background-color: #939598;
  color: #ffffff;
  border-bottom: 2px solid #939598;
  border-top: 2px solid #939598;
  border-right: 2px solid #939598;
  border-left: 2px solid #939598;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #939598;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 400;
  color: #cccccc;
}

nav > ul > li > a:hover {
  color: #f26724;
}

nav > ul > li > a:active {
  color: #2a2a2a;
}

nav > ul > li > a:focus {
  color: #2a2a2a;
}

nav {
  width: 100%;
  display: inline-block;
}

#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#aboutme h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  header {
    padding: 80px 0;
  }

  body {
    font-size: 18px;
  }

  h2 {
    text-align: center;
  }

  span {
    display: block;
  }

  .col-lg-5 {
    width: 100%;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #contact {
    text-align: center;
  }

  #aboutmike h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  #aboutskillstools .col-md-6 {
    width: 100%;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 40px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #aboutmike h2 {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
}
