/*
Colors used:
Primary Color (Orange): #e4560f;
Secondary Color (Grey): #7c7d80;
Secondary Color (Light Grey): #CCCCCC;
Text Color (Black): #2A2A2A;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #7c7d80;
}

img {
  width: 100%;
}

h2,
h3 {
  line-height: 1.4;
}

h1 {
  line-height: 1.1;
}

h4 {
  line-height: 1.2;
}

h5 {
  line-height: 0.2;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e4560f;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  color: #303030;
}

h5 {
  font-size: 30px;
  font-weight: 500;
  color: #303030;
  text-align: left;
}

#project_watchden h1 {
  color: #4e7ce4;
}

#project_vibez h1 {
  color: #e64ebe;
}

#project_scribe h1 {
  color: #fe7f00;
}

#project_ketokitchen h1 {
  color: #298cf2;
}

#project_meowchow h1 {
  color: #8440e0;
  font-size: 32px;
  font-family: "Itim";
}

#project_meowchow h4 {
  font-family: "Itim";
  text-transform: uppercase;
  font-size: 28px;
}

#project_watchden h1.h1banner {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

#project_vibez h1.h1banner {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

li {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #e4560f;
  text-decoration: none;
  transition: 0.2s color;
}

a:hover {
  color: #7c7d80;
  text-decoration: none;
}

a:active {
  color: #2a2a2a;
}

a:focus {
  color: #7c7d80;
  text-decoration: none;
}

a:hover {
  font-weight: 500;
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #e4560f;
  font-weight: 600;
  padding: 8px;
  margin-right: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #e4560f;
  border-top: 2px solid #e4560f;
  border-right: 2px solid #e4560f;
  border-left: 2px solid #e4560f;
  text-transform: uppercase;
  transition: 0.2s color;
  transition: 0.2s background-color;
}

.button:hover {
  background-color: #e4560f;
  color: #fff;
}

.button:active {
  background-color: #7c7d80;
  color: #fff;
  border-bottom: 2px solid #7c7d80;
  border-top: 2px solid #7c7d80;
  border-right: 2px solid #7c7d80;
  border-left: 2px solid #7c7d80;
}

.button:focus {
  background-color: #7c7d80;
  color: #fff;
  border-bottom: 2px solid #7c7d80;
  border-top: 2px solid #7c7d80;
  border-right: 2px solid #7c7d80;
  border-left: 2px solid #7c7d80;
}

.button.contact {
  display: inline-block;
  background-color: #e4560f;
  color: #fff;
  font-weight: 600;
  padding: 6px;
  margin-right: 0;
  border-radius: 4px;
  border-bottom: 2px solid #e4560f;
  border-top: 2px solid #e4560f;
  border-right: 2px solid #e4560f;
  border-left: 2px solid #e4560f;
  text-transform: none;
  transition: 0.2s color;
  transition: 0.2s background-color;
}

.button.contact:hover {
  background-color: #fff;
  color: #e4560f;
}

.button.contact:active {
  background-color: #7c7d80;
  color: #fff;
  border-bottom: 2px solid #7c7d80;
  border-top: 2px solid #7c7d80;
  border-right: 2px solid #7c7d80;
  border-left: 2px solid #7c7d80;
}

.button.contact:focus {
  background-color: #7c7d80;
  color: #fff;
  border-bottom: 2px solid #7c7d80;
  border-top: 2px solid #7c7d80;
  border-right: 2px solid #7c7d80;
  border-left: 2px solid #7c7d80;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.container_about {
  max-width: 600px;
}

.project_panel {
  margin-top: 24px;
  margin-bottom: 24px;
}

.project_banner {
  margin-top: 24px;
  margin-bottom: -8px;
}

.containeremailform {
  padding: 0 15px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.h1banner {
  background-color: #4e7ce4;
  height: 64px;
  padding-left: 12px;
}

#project_vibez .h1banner {
  background-color: #e64ebe;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #7c7d80;
}

#hero h4 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

header {
  background-color: #fff;
  padding: 10px 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #7c7d80;
}

nav > ul > li > a:hover {
  color: #e4560f;
}

nav > ul > li > a:active {
  color: #2a2a2a;
}

nav > ul > li > a:focus {
  color: #2a2a2a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  background-color: #fff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .container_about {
    max-width: 440px;
    float: left;
    margin-right: 24px;
    margin-left: 0;
  }

  .h1banner {
    height: 84px;
    padding-left: 18px;
  }

  .logo {
    float: left;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  header {
    padding: 80px 0;
  }

  body {
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    text-align: center;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 40px;
  }

  #project_meowchow h1 {
    font-size: 40px;
  }

  #project_meowchow h4 {
    font-size: 30px;
  }

  span {
    display: block;
  }

  .project_panel {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .col-lg-5 {
    width: 100%;
  }

  .col-lg-5_about {
    width: 100%;
  }

  .col-md-6_about {
    width: 50%;
    margin-left: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #contact {
    text-align: center;
  }

  #aboutmike h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 641px) {
  .logo {
    max-width: 250px;
  }

  nav {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-7_about {
    width: 100%;
    float: right;
    padding-left: 0;
  }

  .col-md-6_about {
    width: 50%;
    margin-left: 0;
  }

  #aboutskillstools .col-md-6 {
    width: 100%;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 40px;
  }

  .col-lg-5_about {
    width: 88%;
    padding-left: 0;
  }

  .project_panel {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .h1banner {
    height: 108px;
    padding-left: 24px;
  }

  .containeremailform {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 40px;
  }

  #aboutmike h2 {
    text-align: left;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 42px;
  }

  #project_meowchow h1 {
    font-size: 48px;
  }

  #project_meowchow h4 {
    font-size: 32px;
  }
}
